/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# To use benefits of vim-rails plugin
/config/environment.rb

# Do not public token of the demo bot
examples/DEMO_TOKEN
